﻿
/*整体结构*/
header, footer {
    display: block;
    width: 100%;
    background: #92cfe1;
    background: #92cfe1;
}
header{
	height:125px;}
div#main {
    margin: 35px auto 35px auto;
    width: 880px;
}
div.content {
    margin: 0 auto;
    width: 960px;
}
div.bg {
    background: url("images/1.jpg") center 50px no-repeat;
}
/*头部*/
header {
}
header div.content {
    padding: 20px;
}
h1 {
    display: inline;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-weight:400;
	color:#FFF;
	text-shadow:2px 2px 4px #666;
}
h1:after {
    content: "|";
}
h1 a#logo{
    display: inline-block;
    width: 130px;
    height: 77px;
    vertical-align: text-bottom;
    overflow: hidden;
    background: url(images/logo.png);
}
a#logo span {
    display: none;
}
.cumt{
	color:#FFF;}

/*中间部分*/
div#main div.news, div#main div.information, div#main div.display{
    display: inline-block;
    float: left;
}
div#main:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#main{zoom:1}
div#main div.news {
    width: 240px;
    margin-right: 20px;
}
div#main div.news #imageTitle p{
	padding:2px 5px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:12px;
	color:#FFF;
	background-color:rgba(0,0,0,0.5);}
div#main div.information {
    width: 300px;
    margin-right: 19px;
	text-align:center;
}

div#main div.display {
    width: 300px;
	text-align:center;
}
div#main div.information img{
	width:130px;
	height:130px;
	}
div#main div.display img{}
div#imageNews {
    position: relative;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
}
div#imageTitle {
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 100%;
}
div#textNews {
    width: 92%;
    height: 300px;
	padding:10px;
	line-height:20px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:14px;
	color:white;
}
div#textNews h2{
	margin:10px 0;}
/*每一个块*/
div.block {
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    width: 140px;
    height: 140px;
    box-shadow:2px 2px 3px #aaaaaa;
    background: rgb(93,93,93);
    background: rgba(0,0,0,0.5);
}
div.block:hover {
    box-shadow:2px 2px 4px #CCCCCC;
    background: rgb(255,155,155);
    background: rgba(255,155,155,0.8);
}
div.block img {
    width: 100%;
    height: 100%;
}
div.block.left{
    margin-right: 20px;
}
div.block.long{
    width: 300px;
}
div.information:after, div.display:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#main, div.display{zoom:1}

/* "列表"页面的中间部分*/
div#nav{
    float: left;
    width: 180px;
    margin-right: 20px;
}
div#nav ul li a{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 48px;
    overflow: hidden;

    text-align: center;
    line-height: 48px;
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 22px;
    background-color: rgb(100,167,175);
    background-color: rgba(100,167,175,0.8);
}
div#nav ul li a:hover {
    background-color: rgb(127,127,127);
    background-color: rgba(127,127,127,0.6);
}
div#substance {
    float: left;
    width: 639px;
    height: 414px;
    _height: 454px;
    padding: 20px;
    background-color: rgb(48,18,220);
    background-color: rgba(127,127,127,0.6);
	color:#000;
	text-shadow:0px 0px 3px #FFF;
}
div#substance h2 {
    font-style:28px;
    margin:16px 0;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-weight: normal;
}
div#substance tr{
	height:2em;}
#moreInformation{
	font-size:14px;
	line-height:2em;}
ul.substance {
    padding-left: 25px;
}
ul.substance li {
    line-height: 32px;
    color: #FFF;
    font-size: 16px;
    list-style: disc outside;
	border-bottom: thin dashed #CCCCCC;
}
ul.substance li a {
    color: #000;
}
ul.substance li a:hover {
    color: #AAF;
}
div#page {
    height: 36px;
}
div#page ul li {
    display: block;
    float: left;
    margin-right: 4px;
    line-height: 36px;
    font-size: 16px;
}
div#page ul li a {
    display: block;
    padding: 0 13px;
    color: #003;
    text-decoration: underline;
}
div#page ul li a:hover {
    text-decoration: none;
    background: rgb(255,155,155);
    background: rgba(255,155,155,0.8);
}
/* article 文章内容的样式*/
article {
    display: block;
    height: 100%;
    overflow: auto;
}
article h1:after {
    content: none;
}
article.table h2 {
    text-align: center;
}
article.table table {
    width: 100%;
    line-height: 14px;
    font-size: 12px;
    /*border: 1px solid black;*/
}
article.table table td {
    text-align: center;
    padding: 4px;
    /*height: 14px;*/
    /*overflow: auto;*/
}
article.table table td, article.table table th {
    border: 1px solid black;
}
/*尾巴*/
footer {
	text-align:center;
	line-height:1.5em;
	font-size:12px;}
footer div.content {
    padding: 10px;
}
footer div.content a{
	margin:0 10px;}
	
