input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="number"],input[type="tel"],textarea{
	padding:3px 5px;
	background-color:#f9f9f9;
	border-radius:4px;
    border:1px solid #909090;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
	font-size:0.9em;
	color:#333;}
input[type="submit"],input[type="reset"],input[type="button"]{
	padding:1.5px 15px;
	
	word-spacing:5px;
	font-size:0.85em;}
button{
	padding:3px 15px;
	
	word-spacing:5px;
	font-size:0.85em;}
input:focus,textarea:focus{
	outline:none;
	background-color:#fff;
	border:#87C6F9 1px solid;
	box-shadow: 0 0 8px rgba(103, 166, 217, 1);	}
input[type="file"],input[type="hidden"]{
	border:thin solid #999;
	background:#fff;
	font-size:0.85em;}
input[type="checkbox"]{
	}
select{
	font-size:0.85em;}
